@font-face {
  font-family: "iconfont"; /* Project id 256056 */
  src: url('iconfont.woff2?t=1673938067008') format('woff2'),
       url('iconfont.woff?t=1673938067008') format('woff'),
       url('iconfont.ttf?t=1673938067008') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-delete:before {
  content: "\e67e";
}

.icon-Reset:before {
  content: "\e622";
}

.icon-caidan:before {
  content: "\e620";
}

.icon-sanjiao:before {
  content: "\e61f";
}

.icon-kuaijin1:before {
  content: "\e673";
}

.icon-jiantou-left:before {
  content: "\e618";
}

.icon-jiantou1:before {
  content: "\e61e";
}

.icon-kuaijin:before {
  content: "\e63c";
}

.icon-tubiaozhuzhuangtu:before {
  content: "\e615";
}

.icon-hezuo-copy:before {
  content: "\e642";
}

.icon-liwu:before {
  content: "\e61c";
}

.icon-tiwen:before {
  content: "\e888";
}

.icon-chart3:before {
  content: "\e651";
}

.icon-cancel:before {
  content: "\e685";
}

.icon-voice:before {
  content: "\e687";
}

.icon-jinlingyingcaiwangtubiao08:before {
  content: "\e70c";
}

.icon-jiantou-copy:before {
  content: "\e614";
}

.icon-arrow-down:before {
  content: "\e603";
}

.icon-shengyin:before {
  content: "\e623";
}

.icon-bianji:before {
  content: "\e74b";
}

.icon-10chexiao:before {
  content: "\e62b";
}

.icon-bofang:before {
  content: "\e62f";
}

.icon-lajixiang:before {
  content: "\e613";
}

.icon-daxiaoxie:before {
  content: "\e617";
}

.icon-jinggao:before {
  content: "\e693";
}

.icon-jiahao:before {
  content: "\e639";
}

.icon-rili:before {
  content: "\e77e";
}

.icon-rili1:before {
  content: "\e641";
}

.icon-youjian:before {
  content: "\e694";
}

.icon-liebiao:before {
  content: "\e608";
}

.icon-set:before {
  content: "\e633";
}

.icon-set1:before {
  content: "\e643";
}

.icon-fenxiang2:before {
  content: "\ec4c";
}

.icon-xiangji:before {
  content: "\e61b";
}

.icon-youjiantou-copy:before {
  content: "\e60f";
}

.icon-jiantou:before {
  content: "\e610";
}

.icon-renzheng:before {
  content: "\e6a2";
}

.icon-jiantouzuo:before {
  content: "\e6be";
}

.icon-maikefeng:before {
  content: "\e616";
}

.icon-yulan:before {
  content: "\e6e3";
}

.icon-al:before {
  content: "\e605";
}

.icon-chengchangjingli:before {
  content: "\e6dc";
}

.icon-weibiaoti1:before {
  content: "\e645";
}

.icon-biaoqian:before {
  content: "\e678";
}

.icon-icon-yxj-education:before {
  content: "\e65b";
}

.icon-ic_description_px:before {
  content: "\e8bb";
}

.icon-fenxiang1:before {
  content: "\e600";
}

.icon-liaotian:before {
  content: "\e628";
}

.icon-chat:before {
  content: "\e69b";
}

.icon-naozhong:before {
  content: "\e6a5";
}

.icon-icon:before {
  content: "\e61d";
}

.icon-zhuzhanicon10:before {
  content: "\e611";
}

.icon-gantanhao:before {
  content: "\e6cc";
}

.icon-gantanhao_icon:before {
  content: "\e60b";
}

.icon-gou1:before {
  content: "\e698";
}

.icon-shoucang:before {
  content: "\e70b";
}

.icon-dizhi:before {
  content: "\e6a7";
}

.icon-dianhua:before {
  content: "\e640";
}

.icon-tubiaozhizuomoban:before {
  content: "\e61a";
}

.icon-nv:before {
  content: "\e683";
}

.icon-xingbienan:before {
  content: "\e627";
}

.icon-fenxiang:before {
  content: "\e60a";
}

.icon-sanjiaoxing:before {
  content: "\e672";
}

.icon-shijian:before {
  content: "\e607";
}

.icon-iconfonticonfontsanjiaoxing:before {
  content: "\e638";
}

.icon-unie61a:before {
  content: "\e619";
}

.icon-dizhi-copy:before {
  content: "\e602";
}

.icon-go:before {
  content: "\e675";
}

.icon-dianhua-:before {
  content: "\e631";
}

.icon-icon-copy:before {
  content: "\e604";
}

.icon-sousuo-sousuo:before {
  content: "\e606";
}

.icon-gou:before {
  content: "\e6aa";
}

.icon-jia:before {
  content: "\e609";
}

.icon-shang:before {
  content: "\e650";
}

.icon-chevron-copy-copy-copy:before {
  content: "\e621";
}

.icon-dingwei1:before {
  content: "\e63d";
}

.icon-xingbie1:before {
  content: "\e60e";
}

.icon-2fanhui:before {
  content: "\e601";
}

.icon-xueli:before {
  content: "\e612";
}

.icon-nian:before {
  content: "\e6bb";
}

.icon-yinhao-copy-copy:before {
  content: "\e67c";
}

.icon-quotes-down:before {
  content: "\e60d";
}

.icon-gongzuojingyan:before {
  content: "\e64c";
}

.icon-fanhui:before {
  content: "\e60c";
}

