<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pw.codeset">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <application
        android:name=".application.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity android:name=".activity.main.MainActivityView">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <!--贝塞尔曲线-->
        <activity android:name=".activity.bezier.BezierCurveActivity">

        </activity>

        <!--触摸view-->
        <activity android:name=".activity.touchview.TouchViewAct">

        </activity>
        <!--mvp架构登录页面-->
        <activity android:name=".activity.login_mvp.UserLoginActivity">

        </activity>
        <!--游戏列表-->
        <activity android:name=".activity.games.GamesActivity">

        </activity>
        <!--黑白格-->
        <activity android:name=".activity.games.block.BlockGameActivity"
            android:windowSoftInputMode="adjustResize"
            >

        </activity>

        <activity android:name=".activity.pc_connect.ActivityPcConnect"
            />

        <activity android:name=".activity.notes.NotesActivity" />
        <activity android:name=".activity.notes.NotesEditActivity" />

    </application>

</manifest>